<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- 料理検索フォーム -->
    <h1>TheMealDB 料理検索 </h1>
    <form action="search" method="post">
        <input type="text" name = "cookName">
        <button type = "submit">検索</button>
    </form>
    <hr>


<!-- 検索結果の表示 -->
    <div th:if="${keyword != null and keyword != ''}">
        <div th:if="${meals != null}">
            <div th:each="meal : ${meals}">
                <h2 th:text="${meal.name}"></h2>
                <p th:text="${meal.category}"></p>
                <p th:text="${meal.area}"></p>
                <img th:src="${meal.thumb}" width="200" alt="Meal Image">
                <h2>作り方</h2>
                <p th:text="${meal.instructions}"></p>
            </div>
        </div>
        <p th:if="${meals == null}">レシピが見つかりませんでした。</p>
        
    </div>
    <!-- 見つからなかった場合 -->
    <p th:if="${keyword == ''}">
        検索内容がありません。

    </p>

    

</body>
</html>